@page
@model Book_Sharing.Pages.IndexModel
@{
}
<div class="row">
    <img src="/Img/sfondo.jpg" />
</div>

<div class="text-center">
    <p style ="color:#145B18;">Benvenuto su</p>
    <h1 class="display-4" style="font-weight: bold;font-size: 4rem;font-family: Arial, Helvetica, sans-serif;color:#145B18;">Book Sharing</h1>
    <p>Utilizza questo sito per trovare i libri che vuoi leggere, o sfruttalo per consigliare ad altre persone i tuoi libri preferiti!</p>
</div>
