@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Accesso negato";
}

<header>
    <h1 style="color:#145B18;">@ViewData["Title"]</h1>
    <p style="color:#1b5e20;">Non hai ancora accesso a questa pagina. Riprova dopo aver inserito i tuoi dati a <a href="Manage" style="color:#00c853;">Questo link</a></p>
</header>
